<div class="ow-link-bar">
  <div class="container-fluid">
    <ul>
      <li>
        <a href="/admin/home">home</a>
      </li>
      <li>
        <a href="/admin/groups">groups</a>
      </li>
      <li>
        <a href="/admin/characters">characters</a>
      </li>
      <li>
        <a href="/admin/templates">templates</a>
      </li>
      <li>
        <a href="/admin/logout">logout</a>
      </li>
    </ul>
  </div>
</div>