<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="//www.officeworks.com.au/web-ui-kit/2.1.0/ow-webui-kit.vendor.min.css?ver=45.873a" type="text/css" />
    <link rel="stylesheet" href="//www.officeworks.com.au/web-ui-kit/2.1.0/ow-webui-kit.min.css?ver=45.873a" type="text/css" />
    <script src="//www.officeworks.com.au/web-ui-kit/2.1.0/ow-webui-kit.vendor.js?v=45.873a"></script>
    <script src="//www.officeworks.com.au/web-ui-kit/2.1.0/ow-webui-kit.templates.js?v=45.873a"></script>
    <script src="//www.officeworks.com.au/web-ui-kit/2.1.0/ow-webui-kit.min.js?v=45.873a"></script>
    <script src="/public/javascript/libs/underscore/jquery.js"></script>
    <script src="/public/javascript/libs/underscore/underscore.js"></script>
<script src="/public/javascript/libs/backbone/backbone.js"></script>
<script src="/public/javascript/libs/handlebars/handlebars.js"></script>
<script src="/public/javascript/libs/handlebars/handlebars.js"></script>
</head>

<body>
    <%- include(page) %>
</body>

</html>